<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  {{currency.symbol}} <span class="caret"></span>
</a>
<ul class="dropdown-menu">
  <li>
  <a href="#" data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('ONX')" data-ng-class="{active: currency.symbol == 'ONX'}">ONX</a>
  </li>
  <li>
  <a href="#" data-ng-click="setCurrency('mONX')" data-ng-class="{active: currency.symbol == 'mONX'}">mONX</a>
  </li> 
  <li>
  <a href="#" data-ng-click="setCurrency('bits')" data-ng-class="{active: currency.symbol == 'bits'}">bits</a>
  </li>
</ul>

